# system files
.DS_Store
Thumbs.db

# logs, runtime, caches
*.log
*.pid

# env files with real secrets/IPs
.env
.env.*
!.env.example

# secrets & keys
*.key
*.pem
*.crt
*.backup
.env

# VMs and images
*.vdi
*.vmdk
*.ova
*.box
*.qcow2

# Splunk / local system paths (don't commit)
/opt/
/var/
/etc/
/tmp/

# node/python etc
node_modules/
__pycache__/